@{
    ViewData["Title"] = "I have no idea what I am doing";
}
<h1>@ViewData["Title"]</h1>

<p>Please send help.</p>

This .NET project has been made with the help of two liters of beer, three coffees, a long afternoon featuring lofi hip hop.<br>
The project developer's name is <b>"Veselin Vasilev Ivanov"</b> with the student ID 1909010468.<br>
He is from the <b>"Computer Sciences"</b> specialty in the <b>Mathematics and Informatics</b> faculty.<br>